@model Business.Models.CategoryModel
@{
}

<div class="content">
	<form asp-action="UpdateCategory" method="post">
		<div class="form-group">
			<label asp-for="Title">Title: </label>
			<input class="form-control" id="title"type="text" asp-for="Title"/>
		</div>

		<div class="form-group">
			<label asp-for="ParentCategoryId">Parent category: </label>
			<select class="form-select" asp-for="ParentCategoryId">
				@Model.ParentCategoryId
				@if (Model.ParentCategory is null)
				{
					<option>No Category</option>
				}
				else
				{
					@foreach (var category in ViewBag.Categories)
					{
						if (category.Id == Model.Id) continue;

						<option value="@category.Id">@category.Title</option>
					}
				}
			</select>
		</div>

		<button class="btn btn-primary" type="submit" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@Model.Id">Submit</button>
	</form>
</div>
